<h1>Products</h1>
<form>
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<div class="form-group">
				<label for="sku">SKU:</label>
				<select class="form-control" ng-options="sku as sku.label for sku in skus track by sku.id" ng-model="products.sku"></select>
			</div>
		</div>
		<div class="col-md-9 col-sm-9">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" name="name" id="name" ng-model="products.name" class="form-control">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-sm-9">
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea name="description" id="description" ng-model="products.description" rows="4" class="form-control"/></textarea>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
			<label for="price">Price</label>
			<input type="text" ui-number-mask name="price" id="price" ng-model="products.price" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<label for="image">Image</label>
			<input type="text" name="image" id="image" class="form-control" ng-model="products.image_url">
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="form-group">
				<label for="category">Category:</label>
				<select class="form-control" ng-options="category as category.label for category in categories track by category.id" ng-model="products.category"></select>
			</div>
		</div>
		<div class="col-md-2 col-sm-2">
			<label for="stock">Stock</label>
			<input type="number" class="form-control" name="stock" id="stock" ng-model="products.stock">
		</div>
	</div>
	<div class="checkbox">
		<label><input type="checkbox" ng-model="products.active"> Active</label>
	</div>
	<button type="button" ng-click="saveProducts()" class="btn btn-default">Submit</button>
</form>